# configured by ansible
ssl={{ ddclient_ssl }}
protocol={{ ddclient_protocol }}
use={{ ddclient_use }}
server={{ ddclient_server }}
login={{ ddclient_userid }}
password={{ ddclient_password }}
zone={{ ddclient_domain }}
{{ ansible_hostname }}.{{ ddclient_domain }}
