# configured by ansible

# Include files from /etc/network/interfaces.d:
source-directory /etc/network/interfaces.d

auto lo
iface lo inet loopback

iface eth0 inet manual

allow-hotplug {{ wifi_interface }}
iface {{ wifi_interface }} inet dhcp
pre-up wpa_supplicant -Dwext -i {{ wifi_interface }} -c /etc/wpa_supplicant/wpa_supplicant.conf -B -P /var/run/wpa_supplicant.{{ wifi_interface }}.pid
post-down killall -q wpa_supplicant
